@import url(global/global.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

:root {
    --light: #F7FFF5;
    --light-hover: #F3FFF0;
    --light-active: #E7FFE1;
  
    --normal: #B1FF9E;
    --normal-hover: #9FE68E;
    --normal-active: #8ECC7E;
  
    --dark: #85BF77;
    --dark-hover: #6A995F;
    --dark-active: #507347;
  
    --darker: #72E210;
  
    --extra-light-1: #ECF8E8;
    --extra-light-2: #E2F4DD;
    --extra-light-3: #C3E8B9;
  
    --extra-green-1: #3DB41C;
    --extra-green-2: #37A219;
    --extra-green-3: #319016;
  
    --extra-deep-1: #2E8715;
    --extra-deep-2: #256C11;
    --extra-deep-3: #1B510D;
    --extra-deep-4: #153F0A;
  }
  

body {
    background: #f7f7f7;
    color: #333;
  }

.header {
    background: #003300;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    font-family: "Kay Pho Du", sans-serif;
    height:100px;
  }
  
  .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    height: 50px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #f0fff0;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .nav-links a:hover {
    color: #92fbff;
  }
