@import url(global/global.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kay Pho Du", sans-serif;
}

:root {
  --verde-floresta-escuro: #153F0A;
  --Verde-erva-doce: #E7FFE1;
  --verde-jade-claro: #a7dfa7;

  --light: #F7FFF5;
  --light-hover: #F3FFF0;
  --light-active: #E7FFE1;

  --normal: #B1FF9E;
  --normal-hover: #9FE68E;
  --normal-active: #8ECC7E;

  --dark: #85BF77;
  --dark-hover: #6A995F;
  --dark-active: #507347;

  --darker: #72E210;

  --extra-light-1: #ECF8E8;
  --extra-light-2: #E2F4DD;
  --extra-light-3: #C3E8B9;

  --extra-green-1: #3DB41C;
  --extra-green-2: #37A219;
  --extra-green-3: #319016;

  --extra-deep-1: #2E8715;
  --extra-deep-2: #256C11;
  --extra-deep-3: #1B510D;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--extra-deep-3);
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  line-height: 1.7;
}

main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  font-size: 45px;
  color: #fff;
}

section p {
  font-size: 1.2rem;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; 
}

header {
  background-color: var(--verde-floresta-escuro);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 2.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--Verde-erva-doce);
  font-size: 1.4rem;
  font-family: kay pho du, sans-serif;
  font-weight: 500;
  display: inline-block;   
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: var(--verde-jade-claro);
  transform: scale(1.1);
}

section {
  
    display: flex;
    justify-content: space-between;
    gap: 2rem;   
    margin: 2.5rem 0;  
    padding: 2.5rem;   
  
}

img {
  max-width: 500px;
  height: auto;
  display: block;
}

.image-direita,
.imagem-esquerda {
  
  max-width: 37.5rem;
  max-height: 37.5rem;
  display: block;
}

section:nth-child(even) {
  flex-direction: row;
}

section h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #fff;
  font-family: "Koh Santepheap", sans-serif;
}

section p {
  line-height: 1.6;
  text-align: justify;
  color: var(--extra-light-3);
  font-family: "Klee One", sans-serif;
}

.intro.texto-esquerda,
.texto-direita {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 490px;
  line-height: 1.6;
  text-align: justify;
  color: var(--extra-light-3);
  gap: 1rem;
}

.texto-direita h2 {
  margin: 0;
  max-width: 480px;
}

.texto-esquerda h2 {
  max-width: 37.5rem;
}

.texto-direita p{
  font-size: 25px;
}

.impactos {
  display: flex;
  justify-content: flex;
  align-items: stretch;   
  margin: 2.5rem 0;
  padding: 0 2rem;            
  background-color: var(--extra-deep-3);
}




.impactos-fig{ 
  right: 2.5rem;
  width: min(34vw, 480px);
  height: auto;
  display: flex; }

.impactos-texto h2 {
  font-size: 44px;

  color: var(--light);
}

.impactos-texto p {
  line-height: 1.6;
  font-size: 23px;
  text-align: justify;
  color: var(--extra-light-3);
}

.conteudo h1 {
  color: #fff;
}

.efeitos-imagem {
  display: block;
  margin: 0;
  padding: 0;
  width: 1440px;
}

section.footer {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

footer {
  background-color: var(--light-hover);
  color: black;
  padding: 2rem 1.5rem;
  font-family: "Kay Pho Du", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 15rem;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.footer-top strong {
  color: black;
}

.footer-top p {
  color: #20603C;
}

footer img.koala {
  max-height: 12rem;
  margin: 0 1.5rem;
  height: 14rem;
  width: auto;
}

.icones {
  max-width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info {
  text-align: left;
  color: black;
  padding: 20px;
  border-radius: 10px;
}

.footer-bottom {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  font-size: 0.875rem;
  color: black;
  font-weight: bold;
}

.footer-bottom h2 {
  color: black;
  font-size: 1.2rem;
}

.footer-nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: bold;
}

.footer-nav a {
  color: white;
  text-decoration: none;
}

.footer-nav a:hover {
  text-decoration: underline;
}

.voltar-topo {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: #fff;
  text-decoration: underline;
}

.voltar-topo button {
  font-family: "Kay Pho Du", sans-serif;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}


.efeitos-cima {
  column-count: 2;
  column-gap: 3rem;
}

.efeitos-cima p {
  color: var(--extra-light-3);
  text-align: justify;
  line-height: 1.7;
  font-size: 1.2rem;   
  align-items: stretch;
}


.efeitos-cima p.segunda-coluna {
  break-before: column; 
}


.effeitos-texto {
  font-size: 1.2rem;
  line-height: 1.6;
}


    .causas {
      margin-bottom: 20px;
    }

.causas .texto-esquerda p {
  font-size: 1.8125rem;
}

.causas .texto-esquerda h2 {
  font-size: 3.0625rem;
}

.folhagem {
  width: 100%;
  height: auto;
  display: block;
}
